.login {
    .vertical-center-grid {
        height: 100%;
        display: grid;
        align-items: center !important;
    }

    .full-width-button {
        width: 100% !important;
        --box-shadow: none;
    }

    .login-input {
        --padding-start: 5%;
        border: solid 0.5px #6B0C69;
        border-radius: 0.4em;
        margin: 3% 0 2% 0;
    }

    .login-label {
        margin: 5%;
        font-weight: bold;
    }

    .login-icon-col {
        .password-toggle-icon {
            font-size: 22px;
            color: var(--ion-color-success);
        }

        .password-toggle-text {
            font-size: x-small;
        }
    }
}