// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

ion-content {
    background-image: url('./assets/background_up.png');
    --background: transparent;
    background-size: cover;
    background-color: whitesmoke;
}

.toolbar-title {
    display: flex !important;
}

ion-header {
    border-bottom: solid 2px var(--ion-color-primary);

    ion-toolbar {
        .app-title {
            display: flex;
            text-align: end;

            ion-label {
                font-family: var(--font-pacifico);
                align-self: center;
                text-align: left;

                ion-icon {
                    font-size: x-large;
                    margin: -5% 5%;
                }
            }
        }

        img {
            height: 50px;
            max-width: none !important;
        }
    }
}

ion-item {
    background: transparent;
    --background: none;
}

.app-ion-input {
    --background: #fff;
}

.app-button {
    --background: #C1BB3E;
    --color: #fff;
}

.app-loading {
    font-family: var(--font-pacifico);
    font-size: large;
    --start: 0px;
    --spinner-color: var(--ion-color-success);

    .loading-wrapper {
        box-shadow: none;
        background: transparent;
        color: var(--ion-color-success);
        position: fixed;
        top: 0 !important;
        left: 50% !important;
    }

    ion-backdrop {
        opacity: 0.2 !important;
    }
}

.vertical-align-center {
    align-content: center !important;
    display: grid !important;
}