// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

.app-button {
    --background: #C1BB3E;
    --color: #fff;
}

.app-loading {
    font-family: 'Pacifico', cursive;
    font-size: large;
    --start: 0px;
    --spinner-color: var(--ion-color-success);

    .loading-wrapper {
        box-shadow: none;
        background: transparent;
        color: var(--ion-color-success);
        position: fixed;
        top: 0 !important;
        left: 50% !important;
    }

    ion-backdrop {
        opacity: 0.2 !important;
    }
}